In [1]:
import numpy as np
import pandas as pd

In [4]:
arr = np.linspace(1, 100, num=5) # generate 5 numbers from 1 to 100
arr

array([  1.  ,  25.75,  50.5 ,  75.25, 100.  ])

In [10]:
labels = ['a', 'b', 'c', 'd', 'e']
labels

['a', 'b', 'c', 'd', 'e']

In [8]:
pd.Series(data=arr)

0      1.00
1     25.75
2     50.50
3     75.25
4    100.00
dtype: float64

In [11]:
pd.Series(data=arr, index=labels)

a      1.00
b     25.75
c     50.50
d     75.25
e    100.00
dtype: float64

In [13]:
dic = {'a': 10, 'b': 20, 'c': 35}
pd.Series(dic)

a    10
b    20
c    35
dtype: int64

In [24]:
pd.DataFrame(data=arr, index=labels)

        0
a    1.00
b   25.75
c   50.50
d   75.25
e  100.00